*{
  box-sizing: border-box;
}
body{
  width: 100vw;
  overflow-x: hidden;
  font-family: "Space Grotesk";
}
.underline{
  text-decoration: underline 3px solid #D6C59D;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
}
nav{
  width: 100vw;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 111;
}
@media only screen and (min-width:1024px){
  nav{
    padding: 1.5rem 2rem;
  }
}
.logo{
  width: clamp(150px,25vw,200px);
}
.nav--links{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.sidenav--link:nth-child(1){
  color: #a0d888;
}
.sidenav--link a:hover{
  color: #a0d888;
}
.sidenav{
  position: absolute;
  top: 100%;
  left: 0;
  padding: 1rem 1.5rem;
  width: 100vw;
  display: none;
  background-color: white;
  transition: all 5s ease;
}
.sidenav--links{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sidenav--link a{
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.2s ease;
}
.nav--link{
  font-size: clamp(1rem,2.25vw,1.5rem);
}
.hamburger{
  display: none;
  cursor: pointer;
}
.material-symbols-rounded{
  transition: all 0.2s ease;
  font-size: 2.25rem;
}
.material-symbols-rounded:hover{
  color: #a0d888;
}



.hero{
  width: 100vw;
  background-color: #FEF2DF;
  padding: clamp(1rem,4vh,7rem) clamp(1rem,6vw,7rem);
  position: relative;
}

.container{
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
  position: relative;
}
.title{
  font-size: clamp(1.5rem,4vw,5.5rem);
  font-weight: 700;
}
.subtitle{
  font-size: clamp(0.9rem,2vw,1.3rem);
  font-weight: 400;
}
.cta--btn{
  padding: 12px 18px;
  background-color: #2F3348;
  color: white;
  max-width: fit-content;
}
.photo--container{
  position: relative;
}
.photo img{
  width: clamp(400,50vw,600px);
  max-height: 600px;
  transform: translateY(6rem);
  position: relative;
  z-index: 15;
}
.semicircle1{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  z-index: 11;
  background-color: #D6C59D;
}



.works{
  position: relative;
  z-index: 11;
  background-color: white;
  padding: clamp(1rem,4vh,7rem) clamp(1rem,6vw,7rem);
}
.carousel-wrapper{
  width: 100vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 24px;
}
.carousel-wrapper::-webkit-scrollbar {
  display: none;
}
.carousel-wrapper {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
.carousel{
  padding: clamp(1rem,4vh,7rem) clamp(1rem,6vw,7rem);
  display: flex;
  gap: 2rem;
  width: fit-content;
}
.card{
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #5a2222;
  color: #fff;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  scroll-snap-align: start;
}
.card:nth-child(2){
  background-color: #3c5a22;
}
.card:nth-child(3){
  background-color: #22535a;
}
.card:nth-child(4){
  background-color: #55225a;
}
.card:nth-child(5){
  background-color: #22525a;
}
.card--video{
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 1rem;
  box-shadow: 0 0 10px #fff;
}
.work--nav{
  display: flex;
  gap: 0.5rem;
  width: fit-content;
  margin: 0 auto;
}
.work--link{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #000;
}




.about{
  position: relative;
  width: 100vw;
  padding: clamp(1rem,4vh,7rem) clamp(1rem,6vw,7rem);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #E7EBE5;
}
.about--photo img{
  max-width: 400px;
  height: 400px;
}
.about.container{
  width: 40vw;
}





@media only screen and (max-width:768px){
  body{
    width: 100vw;
    overflow-x: hidden;
  }
  .nav--links{
    display: none;
  }
  .hamburger{
    display: block;
  }
  .container{
    max-width: max-content;
  }
  .photo--container{
    display: flex;
    justify-content: center;
  }
  .semicircle1{
    width: 95vw;
    height: 80vw;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
  }
  .about{
    flex-direction: column;
    align-items: flex-start;
  }
  .about--photo img{
    width: 100vw;
  }
  .works{
    padding: 6rem clamp(1rem,6vw,7rem);
  }
}

@media only screen and (min-width:768px){
  .hero{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 5rem;
  }
}
@media only screen and (min-width:1024px){
  .yt-video{
    width: 45%;
  }
}
*{
  padding: 0;
}
